// variable

$color-primary: #F4B408;
$color-secondary: #310000;
$color-text: #3A3A3A;
$color-text-secondary: #5C5C5C;
$color-white: #FFFFFF;
$color-black: #000000;
$color-black-2: #414141;
$color-primary-light: #F5E4B6;
$color-light: #F5F5F5;
$color-grey-1: #E1E1E1;

$max-screen: 1440px;

$border-radius-1: 12px;
$border-radius-2: 24px;

$gutter-big: 60px;
$gutter-small: 30px;

$transition-1: all 0.3s ease-in-out;

$default-font: "Poppins", sans-serif;

$breakpoint-lg: 1200px;
$breakpoint-md: 991px;
$breakpoint-sm: 680px;
$breakpoint-mobile: 480px;
$breakpoint-mobile-sm: 320px;

// utilities

.flex-1 {
  flex: 1;
}

.txt-primary {
  color: $color-primary;
}

.txt-text-secondary {
  color: $color-text-secondary;
}

.section-gutter {
  padding-top: $gutter-big;
  &__bottom {
    padding-bottom: $gutter-big;
  }
}

// typography

.title {
  &__big {
    font-size: 58px;
    font-weight: bold;
  }
  &__heading {
    font-size: 38px;
    font-weight: bold;
  }
  &__medium {
    font-size: 28px;
    font-weight: bold;
  }
  &__small {
    font-size: 20px;
  }
  &__x-small {
    font-size: 18px;
    font-weight: bold;
  }
}

.paragraph {
  &__default {
    font-size: 16px;
  }
  &__medium {
    font-size: 18px;
  }
  &__small {
    font-size: 12px;
  }
}

// default element reset

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

// component

.button {
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-1;
  &--primary {
    color: $color-white;
    background-color: $color-primary;
  }
}

.custom-swiper-nav__item {
  width: 24px;
  height: 24px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: $color-black;
  color: $color-white;
}

.custom-swiper-nav__prev {
  position: absolute;
  bottom: 50%;
  left: -38px;
  z-index: 9;
  transform: translateY(-50%);
  @media only screen and (max-width: $breakpoint-md) {
    left: -26px;
  }
  @media only screen and (max-width: $breakpoint-sm) {
    left: -10px;
  }
}

.custom-swiper-nav__next {
  position: absolute;
  bottom: 50%;
  right: -38px;
  z-index: 9;
  transform: translateY(-50%);
  @media only screen and (max-width: $breakpoint-md) {
    right: -26px;
  }
  @media only screen and (max-width: $breakpoint-sm) {
    right: -10px;
  }
}

// reset

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

// style

body {
  position: relative;
  overflow-x: hidden;

  line-height: 1.6;
  font-size: 16px;
  font-weight: 400;
  color: $color-text;
  font-family: $default-font;

  background-color: #FFFFFF;
}

.section-header {
  background-color: $color-secondary;
  &--light {
    background-color: $color-white;
  }
}

.nav {
  &__item {
    a {
      font-size: 16px;
      font-weight: 500;
      color: $color-white;
      transition: $transition-1;

      &:hover {
        color: $color-primary;
        transition: $transition-1;
      }
    }

    &--active {
      a {
        color: $color-primary;
      }
    }
  }

  &__menu-icon {
    cursor: pointer;
    span {
      width: 28px;
      height: 3px;
      border-radius: 4px;
      background-color: $color-white;
    }
  }

  &__icon {
    color: $color-white;
    font-size: 42px;
  }

  &--light {
    background-color: white;

    .nav__item {
      a {
        color: $color-text;

        &:hover {
          color: $color-primary;
          transition: $transition-1;
        }
      }

      &--active {
        a {
          color: $color-primary;
        }
      }
    }

    .nav__icon {
      color: $color-text;
    }

    .nav__menu-icon {
      span {
        background-color: $color-text;
      }
    }
  }

  &__right {
    @media only screen and (max-width: $breakpoint-md) {
      display: none;
    }
  }
}

// side nav
.sidebar {
  width: 300px;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 99;
  height: 100vh;
  background-color: $color-black-2;
  color: $color-white;
  transition: $transition-1;
  .menu-close-icon {
    cursor: pointer;
  }
  @media only screen and (max-width: $breakpoint-mobile-sm) {
    width: 100%;
  }
  &__icon {
    color: $color-primary;
    font-size: 20px;
  }
  &__item-list {
    a {
      padding: 10px 8px 10px 0;
      transform: $transition-1;
      font-weight: 500;
      font-size: 15px;
      &.active,
      &:hover {
        color: $color-primary;
        transform: $transition-1;
      }
    }

    .list-title {
      font-size: 16px;
    }
    
    li {
      margin-bottom: 10px;
      ul {
        padding-left: 1.5rem;
      }
    }
  }

  &__nav {
    height: 100%;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    padding-bottom: 48px;
  }

}
body.menu-open {
  overflow: hidden;
  .sidebar {
    left: 0;
    transition: $transition-1;
  }
}

.hero {
  &__image {
    max-width: 400px;
  }
  &__content {
    max-width: 580px;
    @media only screen and (max-width: $breakpoint-md) {
      max-width: 100%;
      padding-top: 2rem;
      padding-bottom: 4rem;
    }
  }
  @media only screen and (max-width: $breakpoint-md) {
    flex-direction: column;
  }
}

.service__item {
  max-width: 330px;
  padding: 32px 28px;
  border-radius: $border-radius-2;
  text-align: center;
  background-color: rgba($color-primary-light, 0.25);
  img {
    width: 100%;
    max-width: 280px;
  }
  @media only screen and (max-width: $breakpoint-lg) {
    max-width: 100%;
    img {
      max-width: 100%;
    }
  }
}

.international-relation__item {
  width: 340px;
  text-align: left;
  img {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
  }
}

// news
.section-news {
  background-color: $color-light;
}

.news {
  &__item {
    background-color: $color-white;
    max-width: 304px;
    border-radius: $border-radius-1;
    &__img {
      img {
        width: 100%;
        border-top-left-radius: $border-radius-1;
        border-top-right-radius: $border-radius-1;
      }
    }
  }
}

// parliment section
.section-parliment {
  min-height: 420px;
  height: 100vh;
  max-height: 720px;
  background-color: rgba($color-primary-light, 0.3);
  background-image: url('./images/pradeep_yadav_parliment.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;

  .parliment-item__box {
    max-width: 540px;
    margin-left: auto;
    margin-right: 120px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 4%;
    .parlimet__item {
      flex-basis: 48%;
      .button {
        width: 100%;
      }
    }
    @media only screen and (max-width: $breakpoint-lg) {
      margin-right: 0;
    }
    @media only screen and (max-width: $breakpoint-md) {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      .parlimet__item {
        flex-basis: 100%;
        .button {
          width: fit-content;
        }
      }
    }
  }
}

// media coverage list item
.media-list__item {
  &__img {
    img {
      width: 240px;
      object-fit: cover;
    }
  }
}

.media-list {
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-1;
      padding-bottom: 16px;
    }
    &:not(:first-child) {
      padding-top: 16px;
    }
  }
}

// party info section
.party-info {
  &__left {
    flex-basis: 50%;
    @media only screen and (max-width: $breakpoint-md) {
      flex-basis: 100%;
      margin-top: $gutter-big;
    }
  }

  &__image-box {
    margin-top: 100px;
    @media only screen and (max-width: $breakpoint-md) {
      margin-top: 40px;
      width: 100%;
    }
    @media only screen and (max-width: $breakpoint-lg) {
      width: 200px;
      margin-top: 60px;
      img {
        width: 100%;
      }
    }
  }
  
  &__right {
    flex-basis: 50%;
    img {
      width: 100%;
      height: 700px;
      object-fit: contain;
    }
    @media only screen and (max-width: $breakpoint-md) {
      flex-basis: 100%;
      img {
        height: 600px;
      }
    }
    @media only screen and (max-width: $breakpoint-sm) {
      flex-basis: 100%;
      img {
        height: 500px;
      }
    }
    @media only screen and (max-width: $breakpoint-mobile) {
      flex-basis: 100%;
      img {
        height: 400px;
      }
    }
  }

  @media only screen and (max-width: $breakpoint-md) {
    flex-wrap: wrap;
  }
}

// footer
.footer {
  padding-bottom: $gutter-small;
  background-color: $color-black-2;
  .footer-list-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  .footer-icon-box {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  
    &__item-box__list {
      display: flex;
      justify-content: space-between;
  
      ul {
        color: $color-white;
  
        &:not(:first-child) {
          padding-left: 2rem;
        }
  
        &:not(:last-child) {
          padding-right: 2rem;
          border-right: 1px solid $color-text-secondary;
        }
  
        li {
          a:hover {
            color: $color-primary;
          }
  
          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }
      @media only screen and (max-width: $breakpoint-sm) {
        gap: 1rem;
        ul {
            flex-basis: calc(50% - 1rem);
        
            &:not(:first-child) {
              padding-left: 0;
            }
            
            &:not(:last-child) {
              padding-right: 0;
              border-right: none;
            }
          }
        }
        @media only screen and (max-width: $breakpoint-mobile) {
          flex-wrap: wrap;
          ul {
            flex-basis: 100%;
          }
        }
    }

  .footer-store-image {
    height: 120px;
    img {
      // width: 100%;
      height: 120px;
      object-fit: contain;
    }
  }

  @media only screen and (max-width: $breakpoint-md) {
    .footer-list-wrapper {
      flex-direction: column;
      gap: 16px;
    }
    .footer-icon-box {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }
  @media only screen and (max-width: $breakpoint-mobile) {
    .footer-icon-box {
      flex-direction: column;
    }
  }
}

// ministry served page
.ministry-served-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  &__item {
    width: 100%;
    button {
      width: 100%;
    }
  }
  @media only screen and (max-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: $breakpoint-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}
